@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

$desktop-bp: 1000px;
$tablet-bp: 800px;
$mobile-bp: 500px;

$colors: (
  dark-blue: #1F2D33,
  blue-one: #27AAE1,
  blue-two: #91C8ED,
  light: #F6FBFF,
  grey: #60686C,
);

@function colorize($name) {
  @return map-get($colors, $name);
}

* {
  font-family: "Manrope", sans-serif;
}